.tour-container {
  margin-bottom: 9rem;
}

.tour-heading {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  margin: 2rem 0;
}

.tour-description {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}

.tour-blog {
  font-size: 16.5px;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

@media only screen and (min-width: 800px) {
  .tour-heading {
    font-size: 32px;
  }

  .tour-blog {
    font-size: 19px;
  }

  .tour-description {
    font-size: 24px;
    margin-bottom: 2rem;
  }

  .tour-offers {
    padding: 0 1rem 1rem 1rem;
  }
}
