.about-heading {
  font-size: 1.65rem;
  text-align: center;
  background-color: var(--clr-bg-tertiary);
  color: aliceblue;
  padding: 2rem 1rem;
  margin-bottom: 3.2rem;
}

.about-heading__secondary {
  font-size: 1.5rem;
  color: var(--clr-text-primary);
  margin: 1.6rem;
  text-align: center;
  font-weight: 700;
}

.about-heading__description {
  margin: 1.8rem 1rem 1.4rem 1rem;
  font-size: 1.25rem;
}

.about-img {
  display: none;
}

@media only screen and (min-width: 720px) {
  .about-heading {
    font-size: 1.85rem;
  }

  .about-heading__secondary {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .about-heading__description {
    font-size: 1.45rem;
    margin: 2rem 2rem 0 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .about-img {
    display: block;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
  }

  .about__image {
    border-radius: 7px;
  }

  .about-text {
    width: 50vw;
  }
  .about-container {
    display: flex;
    margin: 2rem;
  }
}
