.carousel__container {
  text-align: start;
  max-width: 390px;
  height: 400px;
  margin: 0 1rem;
  background-color: var(--clr-bg-secondary);
  border-radius: 1rem;
}

.carousel-tour__image {
  border-radius: 1rem 1rem 0 0;
}

.carousel-tour__heading {
  padding: 0 1rem;
  font-size: 28px;
  margin: 0.5rem 0;
}

.carousel-tour__description {
  font-size: 18px;
  padding: 0 1rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 720px) {
  .carousel__container {
    height: 500px;
  }
  .carousel-tour__heading {
    font-size: 32px;
  }

  .carousel-tour__description {
    font-size: 22px;
  }
}
