.contact-heading {
  font-size: 28px;
  text-align: center;
  background-color: var(--clr-bg-tertiary);
  margin-bottom: 3rem;
  padding: 2rem 1rem;
  color: aliceblue;
  font-weight: 400;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-container__heading {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact-container label {
  font-size: 20px;
  font-weight: 500;
}

.contact-container input,
.contact-container textarea {
  height: 3rem;
  border: 1.2px solid var(--clr-bg-tertiary);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.contact-container textarea {
  height: 9rem;
}

.contact-button {
  background-color: var(--clr-bg-tertiary);
  color: aliceblue;
  font-size: 24px;
  margin-top: 2rem;
  width: 16rem;
  margin-inline: auto;
}

.contact-button:hover {
  color: hsla(0, 0%, 0%, 0.626);
}

@media only screen and (min-width: 720px) {
  .contact-heading {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .contact-container__heading {
    font-size: 2rem;
  }

  .contact-container label {
    font-size: 24px;
    font-weight: 600;
    margin-inline: 3.7rem;
  }

  .contact-container input {
    height: 4.5rem;
  }

  .contact-container textarea {
    height: 13rem;
  }

  .contact-container input,
  .contact-container textarea {
    margin-inline: 3rem;
  }

  .contact-button {
    font-size: 34px;
    width: 18rem;
    margin-top: 4rem;
    display: grid;
    place-self: center;
  }
}
