.home-container {
  min-height: 80vh;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.home__heading {
  font-size: 2rem;
  max-width: 13ch;
  margin-left: -3.5rem;
  margin-top: 3rem;
}

.home__paragarph {
  font-size: 1.3rem;
  max-width: 28ch;
  margin: 1.2rem;
}

.home-right {
  display: none;
}

/* Tablet */
@media only screen and (min-width: 720px) {
  .home__heading {
    font-size: 2.9rem;
    max-width: 18ch;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .home__paragarph {
    font-size: 1.9rem;
    max-width: 40ch;
  }

  .home__button {
    font-size: 2rem;
    padding: 0.7rem 4rem;
  }
}
