.home-container {
  min-height: 80vh;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.home__heading {
  font-size: 2rem;
  max-width: 13ch;
  margin-left: -3.5rem;
  margin-top: 3rem;
}

.home__paragarph {
  font-size: 1.3rem;
  max-width: 30ch;
  margin: 1rem 0;
}

.home-right {
  display: none;
}
