.home-container {
  min-height: 80vh;
  max-width: 100%;
}

.home-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  margin-left: 4rem;
}

.home__heading {
  font-size: 32px;
  width: 13ch;
  margin-left: -3.5rem;
  margin-top: 3rem;
}

.home__paragarph {
  font-size: 18.4px;
  width: 32ch;
  margin: 1rem 0;
}

.home-right {
  display: none;
}
