.navbar-container {}

.mobile-navbar {
    background: red;
    position: relative;
}

.logo {
    width: 90px;
    height: auto;
    padding: 1rem;
}

.nav-link_menu {
    width: 28px;
    height: 28px;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 2rem;

}

.active-link {
    color: #fff;
    background-color: rgb(106, 106, 193);
    border-radius: 2rem;
    padding: 1rem;
}

.nav-link {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #fff;

}

.openMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}