.desktop-navbar {
    display: none;
}

.mobile-navbar {
    position: relative;
    padding-bottom: 1rem;
    background-color: hsl(210, 66%, 98%);
}

.logo {
    width: 90px;
    height: auto;
    padding: 1rem;
}

.nav-link_menu {
    width: 28px;
    height: 28px;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.nav-link {
    font-size: 20px;
    color: #4d4d4d;
    padding: 5px 10px;
}

.nav-links {
    width: 50%;
}

.nav-link:hover {
    background-color: var(--color-two);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.openMenu {
    display: grid;
    place-items: end;
    gap: 3px;
    margin-right: 1.7rem;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .mobile-navbar {
        display: none;
    }

    .logo {
        width: 150px;
    }

    .desktop-navbar {
        display: flex;
        justify-content: space-around;
    }

    .nav-links__container {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 2.6rem;
    }

    .nav-links {
        font-size: 20px;
        margin: 0 1.3rem;
    }


}