.navbar-container {
  position: relative;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  position: relative;

  background-color: var(--clr-bg-tertiary);
  color: aliceblue;
}

.logo-container {
  position: relative;
}

.logo-image {
  max-width: 90px;
  height: auto;
  padding: 0.3rem 0 1rem 1rem;
}

.logo-heading {
  position: absolute;
  top: 3.3rem;
  left: 5.7rem;

  font-size: 1.6rem;
  font-weight: 600;
}

.logo-heading:hover {
  color: hsla(0, 0%, 0%, 0.787);
}

.nav-link_menu {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
  position: absolute;
  top: 2.7rem;
  right: 1.8rem;
}

.nav-link {
  font-size: 20px;
  padding: 5px 10px;
  display: flex;
}

.nav-links {
  width: 50%;
}

.nav-link:hover {
  background-color: var(--clr-bg-tertiary);
  color: hsla(0, 0%, 0%, 0.787);
  border-radius: 10px;
  cursor: pointer;
}

.openMenu {
  display: grid;
  place-items: end;
  gap: 3px;
  margin-right: 1.7rem;
  padding-bottom: 1rem;
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 17.5vh;
  }

  .nav-links__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }

  .logo {
    max-width: 280px;
    display: grid;
    place-self: center;
  }

  .nav-links {
    font-size: 20px;
    margin: 0 1.3rem;
  }
}
