.client_carousel {
  background-color: var(--clr-bg-tertiary);
  height: 80vh;
  padding: 1rem;
}

.client-carousel__container {
  border-radius: 1rem;
  max-width: 100%;
  width: 280px;
  height: 330px;
  background-color: var(--clr-bg-primary);
}

.clients__heading {
  font-size: 28px;
  text-align: center;
  background-color: var(--clr-bg-tertiary);
  padding: 2rem 1rem;
  color: aliceblue;
  font-weight: 500;
}

.client-carousel__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 1.85rem;
}

.client__img {
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.client-name__container {
  font-size: 22px;
  margin-top: 1.7rem;
}

.client__description {
  font-size: 16px;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}
