.client_carousel {
  background-color: var(--clr-bg-tertiary);
  height: 80vh;
  padding: 1rem;
}

.client-carousel__container {
  border-radius: 1rem;
  max-width: 100%;
  width: 280px;
  height: 330px;
  background-color: var(--clr-bg-primary);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 1.85rem;
}

.clients__heading {
  font-size: 28px;
  text-align: center;
  background-color: var(--clr-bg-tertiary);
  padding: 2rem 1rem;
  color: aliceblue;
  font-weight: 500;
}

.client__img {
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.client-name__container {
  font-size: 22px;
  margin-top: 1.7rem;
}

.client__description {
  font-size: 16px;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 720px) {
  .client_carousel {
    height: 55vh;
  }

  .clients__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .client-carousel__container {
    height: 400px;
    width: 330px;
  }

  .client__img {
    width: 150px;
    height: 150px;
    margin: 1rem 0 0 0.5rem;
  }

  .client-name__container {
    font-size: 32px;
  }

  .client__description {
    font-size: 21px;
  }
}
