#footer {
  margin: -5rem 0 0 0;

  padding: 2rem 0;
  background-color: var(--clr-bg-tertiary);
  color: aliceblue;
}

.footer-heading {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer-container {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 720px) {
  .footer-heading {
    font-size: 2rem;
    margin-inline: 4rem;
    margin-bottom: 5rem;
  }

  .footer-container {
    font-size: 24px;
  }
}

@media only screen and (min-width: 900px) {
  .footer-container {
    font-size: 20px;
    margin-bottom: 0;
  }

  .footer-heading {
    font-size: 28px;
    margin-inline: 0;
    margin-bottom: 2rem;
  }
}
