#footer {
  margin: -5rem 0 0 0;

  padding: 2rem 0;
  background-color: var(--clr-bg-tertiary);
}

.footer-heading {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-container {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem;
}
