@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* colors */
:root {
  --clr-text-primary: #322f2f;

  --clr-bg-primary: #f0f0f0;
  --clr-bg-secondary: #c9d7f43b;
  --clr-bg-tertiary: #6699cc;

  --clr--btn-primary: #72a0c1;
  --clr--btn-secondary: #6699cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-text-primary);
  background-color: var(--clr-bg-primary);

  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 6rem;
  overflow-x: hidden;
}

.button {
  background-color: var(--clr--btn-primary);
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 3rem;
  min-width: 14rem;
  min-height: 3.2rem;
  border-radius: 1.2rem;
}

.button:hover {
  background-color: var(--clr--btn-secondary);
}
