@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 1rem 5rem;
}

@media screen and (max-width:600px) {
    body {
        margin: 1rem 2rem;
    }

}

.openMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.activeLink {
    color: #fff;
    background-color: rgb(106, 106, 193);
    border-radius: 2rem;
}

.homeBackground {
    background-image: url(./assets/test.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 3rem;
}